{% extends 'base.html' %} {% block content %} {% for element in elements %}
<!--prettierignore-->
<div>
  {{ element.id }}
  <span> {{ element.title }}</span>
  <span>{{ element.content }}</span>
  {{element.date}}
  <a href="delete/{{ element.id }}">Usun</a>
</div>
{% endfor %} {% if user.is_authenticated %}
<a href="dodaj/">Dodaj</a>
<a href="/users">Konto</a>
{% else %}
<p>Aby dodać elementy, <a href="{% url 'users:login' %}">zaloguj się</a>.</p>
{% endif %}
<!--prettierignore-->
{% if messages %} {% for message in messages %} {{message}} {% endfor %}
<!--prettierignore-->
{% endif %} {% endblock %}
