{% extends 'base.html' %} 
{% block content %} 
  <div class='elements'>
    {% for element in elements %}
      <div class="element"
        style='{% if element.done %} opacity: 0.3; %}{% endif %}'
      >
        <a class='delete-button' href="/delete/{{ element.id }}">
          <i class="fa-solid fa-xmark"></i>
          <p class='popup'>Usuń element</p>
        </a>
        <div class="elem-content">
          <h3 class='elem-title'> 
            {{ element.title }}
            <span class='date'>
              {{element.date}}
            </span>
          </h3>
          <span class=elem-text>{{ element.content }}</span>
          
        </div>
        <div class='elem-menu'>
          <div class='elem-status'>
            {% if element.done %}
              <a class='elem-undo' href="/switch/{{ element.id }}">
                <i class="fa-solid fa-check-double"></i>
                <p class='popup'>Cofnij wykonanie</p>
              </a>
            {% else %}
              <a class='elem-do' href="/switch/{{ element.id }}">
                <i class="fa-solid fa-check"></i>
                <p class='popup'>Oznacz jako ukończone</p>
              </a>
            {% endif %}
          </div>
          <a class='elem-edit' href="/edit/{{ element.id }}">
            <i class="fa-sharp fa-solid fa-pen-to-square"></i>
            <p class='popup'>Edytuj</p>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if user.is_authenticated %}
    <a class='elem-add' href="/add/">
      <i class="fa-solid fa-plus"></i>
      <p class='popup'>Dodaj element</p>
    </a>
  {% else %}
    <p>Aby dodać elementy, 
      <a href="{% url 'users:login' %}">
        zaloguj się
      </a>
      .
    </p>
  {% endif %}
  {% if messages %} 
    {% for message in messages %} 
      {{message}} 
    {% endfor %}
  {% endif %} 
{% endblock %}
