:root {
  --white: #fffffa;
  --black: #000103;
  --gray: #515052;
  --red: #ff312e;
  --base: #333138;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: var(--base);
  color: var(--white);
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(223, 212, 212);
}
h3 {
  border-bottom: 1px solid var(--black);
}
i {
  font-size: x-large;
}
.title:hover {
  color: inherit;
}
.subtitle {
  letter-spacing: 0.5em;
  color: var(--red);
}
.nav,
.footer {
  width: 100vw;
  background: var(--gray);
  color: var(--white);
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  flex-direction: column;
}
.footer {
  bottom: 0;
  left: 0;
}
.body {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0;
}
.elements {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  row-gap: 20px;
  margin: 50px;
}
.element {
  background-color: var(--gray);
  padding: 10px 30px;
  border-radius: 10px;
  color: var(--white);
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: space-between;
  min-width: 40vw;
}
@keyframes popup {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.delete-button,
.elem-status,
.elem-edit {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.elem-add {
  position: relative;
}
.delete-button {
  justify-content: flex-start;
}
.elem-do:hover {
  color: green !important;
}
.elem-title {
  text-align: center;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}
.elem-text {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.popup {
  position: absolute;
  top: 50px;
  background: var(--white);
  color: var(--black);
  display: none;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
}
.delete-button:hover .popup,
.elem-edit:hover .popup,
.elem-undo:hover .popup,
.elem-do:hover .popup,
.elem-add:hover .popup {
  display: block;
  animation: popup 1s ease-in-out;
}
.delete-button:hover {
  color: red;
}
.date {
  color: rgb(190, 182, 182);
  font-size: small;
  display: flex;
  align-items: center;
}
.menu {
  background: rgb(151, 156, 151);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  position: sticky;
  top: 0;
}
.menu-element {
  padding: 10px;
}
.elem-content {
  text-align: left;
}
.elem-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
}
.menu-element:hover {
  background: var(--red);
}
